<?xml version='1.0' encoding='utf-8'?>
<widget id="com.tiptop" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TipTop</name>
    <description>
        Créer vos top n'a jamais été aussi simple !
    </description>
    <author email="dylan.hochet@ynov.com" href="http://cordova.io">
        Dylan HOCHET
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <icon src="www/img/logo-144.png" />
    <platform name="android">
        <preference name="StatusBarBackgroundColor" value="#2E2E38" />
        <splash src="www/img/logo.png" density="port-ldpi" />

        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <platform name="windows">
        <splash src="www/img/logo.png" target="SplashScreen"/>
        <splash src="www/img/logo.png" target="SplashScreenPhone"/>
    </platform>
    <preference name="SplashScreenDelay" value="1000" />
</widget>
