@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0.5em rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 0.5em rgba(255, 255, 255, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0.5em rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 0.5em rgba(255, 255, 255, 0);
  }
}

* {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body {
  background-color: #2A2A32 !important;
  color: #FFFFFF !important;
}

h1 {
  font-size: calc(0.7rem + 1.5vw) !important;
}

main nav {
  z-index: 1;
  padding: 0.5em 1em;
  background-color: #2E2E38;
  display: block;
  position: fixed;
  width: 100%;
  height: 3em;
  text-align: center;
}

@media (min-width: 36em) {
  main nav {
    text-align: left;
  }
}

main nav img {
  max-height: 100%;
}

main nav span:hover, main nav img:hover {
  cursor: pointer;
}

main nav span {
  display: none;
}

@media (min-width: 36em) {
  main nav span {
    display: inline-block;
    padding-left: 0.5em;
    font-weight: 500;
    font-size: 1.2em;
  }
}

main nav span:hover {
  color: #AAAAAA;
}

main .page {
  padding: 4em 2em 2em 2em;
}

@media (min-width: 36em) {
  main .page {
    padding: 4em 5em 2em 5em;
  }
}

@media (min-width: 48em) {
  main .page {
    padding: 4em 7em 2em 7em;
  }
}

@media (min-width: 62em) {
  main .page {
    padding: 4em 15em 2em 15em;
  }
}

@media (min-width: 75em) {
  main .page {
    padding: 4em 25em 2em 25em;
  }
}

main #tops-page h1 {
  text-align: center;
}

main #tops-page .top {
  padding: 1em;
  background-color: #423E63;
  border-radius: 0.3em;
  margin-bottom: 1em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main #tops-page .top:last-child {
  margin-bottom: 0;
}

main #tops-page .top:hover, main #tops-page .top:focus {
  background-color: #35334d;
  cursor: pointer;
}

main #tops-page .top h2 {
  font-size: calc(0.5rem + .9vw) !important;
}

main #tops-page .top h3 {
  font-size: calc(0.5rem + .6vw) !important;
}

main #tops-page .top h3:first-of-type {
  font-style: italic;
}

main #view-page header {
  position: initial;
  z-index: 0;
  background-color: #423E63;
  margin-bottom: 2em;
  padding: 1em;
}

main #view-page h2 {
  font-size: calc(0.5rem + .9vw) !important;
  margin-bottom: 0 !important;
}

main #view-page .element {
  padding: 1em;
  background-color: #2E2E38;
  border-radius: 0 0 0.5em 0.5em;
  margin-bottom: 2em;
}

@media (min-width: 36em) {
  main #view-page .element {
    margin-bottom: 3em;
  }
}

@media (min-width: 62em) {
  main #view-page .element {
    margin-bottom: 4em;
  }
}

main #view-page .element:last-child {
  margin-bottom: 0;
}

main #view-page .element h2 {
  padding: 0.5em 1em;
  background-color: #423E63;
  margin-bottom: 1em !important;
}

main #view-page .element img {
  pointer-events: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  max-height: 15em;
}

main #add-page form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #add-page form label {
  font-weight: bold;
}

main #add-page form input[type="submit"] {
  background-color: #423E63;
}

main #add-page form input[type="submit"]:hover, main #add-page form input[type="submit"]:focus {
  background-color: #35334d;
  cursor: pointer;
}

main #add-page form .input-container {
  margin: auto;
  width: 100%;
}

@media (min-width: 48em) {
  main #add-page form .input-container {
    width: 30%;
  }
}

main #add-page form #media-container {
  width: 100%;
  display: block;
}

main #add-page form #media-container h1 {
  display: inline-block;
  margin-bottom: 0;
}

main #add-page form #media-container i {
  float: right;
  margin: 0 1em 0.5em 0;
}

main #add-page form #media-container #media-table {
  width: 100%;
  margin-bottom: 1em;
}

main #add-page form #media-container #media-table td {
  height: 0.4em;
}

main #add-page form #media-container #media-table input {
  margin-bottom: 0em;
}

main i {
  border-radius: 50%;
  color: #FFFFFF;
}

main i:hover, main i:focus {
  -webkit-animation: pulse 0.8s;
          animation: pulse 0.8s;
  color: #AAAAAA;
}

main .add-top-btn {
  position: fixed;
  bottom: 0.7em;
  right: 0.7em;
}

main input, main button {
  border-radius: 0.3em;
  background-color: rgba(66, 62, 99, 0.3);
  width: 100%;
  padding: 0.4em;
  margin-bottom: 1em;
  border: none;
  color: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main input::-webkit-input-placeholder, main button::-webkit-input-placeholder {
  text-align: center;
  color: #AAAAAA;
}

main input:-ms-input-placeholder, main button:-ms-input-placeholder {
  text-align: center;
  color: #AAAAAA;
}

main input::-ms-input-placeholder, main button::-ms-input-placeholder {
  text-align: center;
  color: #AAAAAA;
}

main input::placeholder, main button::placeholder {
  text-align: center;
  color: #AAAAAA;
}

main input:focus, main button:focus {
  outline: 0.1em solid #423E63;
}

main .notification {
  text-align: center;
  padding: 1em;
  z-index: 2;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

main .hidden {
  display: none;
}

main .disabled {
  background-color: #AAAAAA;
  pointer-events: none;
}

main .offline {
  background-color: #551616;
}

main .offline .offline-span {
  float: right;
}

main .offline .offline-span:hover {
  color: inherit;
  cursor: inherit;
}

main .online {
  background-color: #244415;
}
/*# sourceMappingURL=style.css.map */